<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>last sign in:</strong>
  <%= @user.last_sign_in_at %>
</p>

<p>
  <strong>last sign in IP:</strong>
  <%= @user.last_sign_in_ip %>
</p>

<p>
  <strong>admin:</strong>
  <%= @user.admin %>
</p>