<div class="icon-bar four-up">
  <a class="item" href="<%= root_path %>">
    <i class="fi-map"></i>
  </a>
  <a class="item" href="<%= deliveries_path %>">
    <i class="fi-clipboard-notes"></i>
  </a>
  <a class="item" href="<%= deliveries_calc_path %>">
    <i class="fi-refresh"></i>
  </a>
  <a class="item" data-method="delete" href="<%= destroy_user_session_path %>" id="item" rel="nofollow">
    <i class="fi-x-circle"></i>
  </a>
</div>
